In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('ex1data2.txt', header=None)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [3]:
x = data.iloc[:,0:2]
y = data.iloc[:,2]
m=len(y)

In [5]:
x = (x - np.mean(x))/np.std(x)

In [6]:
ones = np.ones((m,1))
x = np.hstack((ones, x))
alpha = 0.01
num_iters = 400
theta = np.zeros((3,1))
y = y[:,np.newaxis]

In [7]:
print(theta)

[[0.]
 [0.]
 [0.]]

In [8]:
def computeCost(X, y, theta):
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)


J = computeCost(x, y, theta)
J

65591548106.45744

In [11]:
def gradientDescent(x, y,theta, alpha, iteration):
    for _ in range(iteration):
        temp = np.dot(x, theta) - y
        temp = np.dot(x.T, temp)
        theta = theta - (alpha/m)*temp
    return theta


theta = gradientDescent(x, y, theta, alpha, num_iters)
theta

array([[334302.06399328],
       [ 99411.44947359],
       [  3267.01285407]])

In [13]:
J = computeCost(x, y, theta)
print(J)

2105448288.6292474